<%- include("./include/head.ejs") %>
<title>Document</title>
</head>
<body>
    <form action="/listing/<%= UpdateData._id %>?_method=PUT" method="post">
        <div class="new-post">
            <div class="new-box">
                <label for="new-title">Title : </label>
                <input value="<%= UpdateData.title %>" type="text" name="title" id="new-title" placeholder="Enter a Hotel Name">
            </div>
            <div class="new-box">
                <label for="new-price">Price : </label>
                <input value="<%= UpdateData.price %>" type="number" name="price" id="new-price" placeholder="Enter Price">
            </div>
            <div class="new-box">
                <label for="new-dec">Descriptions : </label>
                <input value="<%= UpdateData.description %>" type="text" name="description" id="new-dec" placeholder="Enter Any Description">
            </div>
            <div class="new-box">
                <label for="new-loc">Location : </label>
                <input value="<%= UpdateData.location %>" type="text" name="location" id="new-loc" placeholder="Enter Location">
            </div>
            <button class="sub-btn">Submit</button>
        </div>
    </form>    
<%- include("./include/footer.ejs") %>
    
</body>
</html>