<%- include("../include/head.ejs") %>
<title>Traveling Agency</title>
</head>
<body>
    <div class="main-container">
        <%for(let allListing of allListings){%>
            <div class="box">
                <img src="<%= allListing.image.url %>" alt="" loading="lazy" class="card-img">
                <h4 class="heading"> <a href="/listing/<%= allListing._id %>"><%= allListing.title %></a></h4>
                <div class="inner-box">
                    <h3>Location : <%= allListing.location %>,  <%= allListing.country %></h3>
                    <h3><%= allListing.description %></h3>
                </div>
                <h5>Price : ₹<%= allListing.price.toLocaleString("en-IN") %> / night</h5>
                <div class="btn-container">
                    <form action="/listing/<%=allListing._id %>/edit" method="GET">
                        <button class="in-btn">Update</button>
                    </form>
                    <form action="/listing/<%= allListing._id %>?_method=DELETE" method="post">
                        <button class="in-btn">Delete Post</button>
                    </form>
                </div>
            </div>
        <%}%>
        
    </div>
</body>
</html>


