<%- include("../include/head.ejs") %>
<title>Traveling Agency</title>
</head>
<body>
    <div class="main-container">
        <%for(let allListing of allListings){%>
            <div class="box">
                    <img src="<%= allListing.image.url %>" alt="" loading="lazy" class="card-img">
                    <h4 class="heading overlay-text"> <a href="/listing/<%= allListing._id %>"><%= allListing.title %></a></h4>
                    <div class="inner-box">
                        <h3>Location : <%= allListing.location %>,  <%= allListing.country %></h3>
                        <!-- <h3><%= allListing.description %></h3> -->
                        <h5>Price : ₹<%= allListing.price.toLocaleString("en-IN") %> / night</h5>
                    </div>
                    <div class="btn-container">
                        <form action="/listing/<%=allListing._id %>/edit" method="GET">
                            <button class="in-btn up">Update</button>
                        </form>
                        <form action="/listing/<%= allListing._id %>?_method=DELETE" method="post">
                            <button class="in-btn del">Delete Post</button>
                        </form>
                        <!-- <p><%= allListing.saved%></p> -->
                        <form action="/listing/<%=allListing._id%>?_method=PATCH" method="POST">
                            <button class="add-cart in-btn">
                                Save
                            </button>
                        </form>
                    </div>
            </div>
        <%}%>
    </div>
<%- include("../include/footer.ejs") %>

</body>
</html>


